# vitrualenv - specific files
bin/
lib/
local/
include/
man/
share/
dist/
build/
pip-log.txt


# IDE specific
*.iml
.idea/

# makefile generated
init
tmp/

# django generated
project/settings/secret.py
project/settings/local.py
project/static/*

# python generated
*.py[cod]
*.so
*.egg
*.egg-info

